
RewriteEngine on
RewriteCond %{HTTP_HOST} ^consult\.infrainit\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.consult\.infrainit\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/www\.infrainit\.com\/ibuild\/consult" [R=301,L]

